@import "tailwindcss";
@source "../../../../plugins/boutet";

@theme {
  --color-blue-100: "#ccdaec";
  --color-blue-200: "#99b5d9";
  --color-blue-300: "#668fc6";
  --color-blue-400: "#336ab3";
  --color-blue-500: oklch(41.45% 0.1598 258.9);
  --color-blue-600: "#003780";
  --color-blue-700: "#002960";
  --color-blue-800: "#001c40";
  --color-blue-900: "#000e20";

  --font-lato: "Lato", sans-serif;
}


@components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}

/*Menu principal*/

#menu-menu-1 {
  @apply flex flex-col md:flex-row gap-1 lg:gap-4 justify-between py-3 text-[#333] font-lato;

}

#menu-menu-1 .menu-item a {
  @apply hover:text-blue-500 pb-3 border-b-2 border-transparent hover:border-blue-500;
}

#menu-menu-1 .current-menu-item a,
#mobile-menu-1 .current-menu-item a {
  @apply text-blue-500 border-blue-500;
}

#mobile-menu-1 {
  @apply w-[200px] bg-white p-3 shadow-sm rounded-sm text-[#333] font-lato;
}

#mobile-menu-1 .current-menu-item a {
  @apply mb-1 md:mb-2;
}

/* Footer */

#nav_menu-2 .widget-title {
  @apply hidden;
}

#menu-menu-2 li {
  @apply mb-3;
}

#menu-menu-2 li a {
  @apply text-black text-base font-lato;
}

.footer-contact h4 {
  @apply font-bold font-lato text-base text-black mb-0;
}

.footer-contact p {
  @apply font-lato text-base text-black mb-1;
}

/* Carruseles */

.swiper-pagination-carousel1 .swiper-pagination-bullet,
.swiper-pagination-carousel2 .swiper-pagination-bullet {
  @apply w-3 h-3 bg-[#D9D9D9] opacity-100;
}

.swiper-pagination-carousel1 .swiper-pagination-bullet-active,
.swiper-pagination-carousel2 .swiper-pagination-bullet-active {
  @apply bg-[#3B8CED];
}

/*Tabs*/

.tabs-1 .e-n-tabs-heading {
  @apply bg-white shadow-md px-2 py-3 rounded-md w-fit;
}

/*Formularios*/

#gform_wrapper_1 .gform_title,
#gform_wrapper_1 .gform_description {
  @apply hidden;
}

#gform_wrapper_1 .gfield input[type="text"],
#gform_wrapper_1 .gfield input[type="email"],
#gform_wrapper_1 .gfield textarea {
  @apply border border-blue-500 rounded-md;
}

#gform_wrapper_1 .gfield_error input[type="text"],
#gform_wrapper_1 .gfield_error input[type="email"],
#gform_wrapper_1 .gfield_error textarea {
  @apply border border-red-500;
}

/*
gfield gfield--type-email gfield--input-type-email gfield--width-half gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible
gfield gfield--type-name gfield--input-type-name gfield--width-full gfield_error gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible
ginput_complex ginput_container ginput_container--name no_prefix has_first_name no_middle_name has_last_name no_suffix gf_name_has_2 ginput_container_name gform-grid-row
*/